* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    margin-bottom: 100px;
}

/* Header Style */
.navbar .navbar-brand {
    width: 100%;
    position: relative;
}

.navbar-brand img {
	width: 200px;
}

.bg-dark {
	background-color: #fff!important;
}

#navbarResponsive {
	transform: translateX(-30%);
}
.navbar-dark .navbar-nav .nav-item {
	margin: 0px 20px;
}
.navbar-dark .navbar-nav .nav-link {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 700;
    color:  black;
	transition: all 0.5s;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: rgb(100, 99, 184);
}

#underline {
	width: 50px;
	height: 5px;
	border-bottom: 2px solid;
	color: rgb(100, 99, 184);
}

.search {
    width: 30%;
    float: right;
    text-align: center;
}

.search input {
    background-image: url("../img/icone-search.png");
    background-repeat: no-repeat;
    padding: 7px;
    width: 190px;
    margin-top: 10px;
    background-position: 96%;
    border: 1px solid rgb(100, 99, 184);
}

.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;
}
.section-heading .line-dec {
	width: 30px;
	height: 5px;
	background-color: rgb(100, 99, 184);
}
.section-heading h1 {
	font-size: 22px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
}

/* Banner */
.banner {
	margin-top: 30px;
	background-image: url(../img/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px;
    background-position: center center;
}

.banner .caption {
	background-color: rgba(250,250,250,0.9);
	padding: 30px;
	max-width: 450px;
    margin-left: 10%;
}
.banner .caption h2 {
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: 700;
	color: #1e1e1e;
}
.banner .caption .line-dec {
	width: 30px;
	height: 5px;
	background-color: #6463b8;
}
.banner .caption p {
	margin-top: 15px;
	margin-bottom: 20px;
}

/* Products / Featured */
.featured-items {
	margin-bottom: 70px;
}
.featured-item {
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 20px;
	transition: all 0.5s;
}
.featured-item:hover {
	opacity: 0.9;
}
.featured-item img {
	width: 100%;
}
.featured-item h4 {
	font-size: 17px;
	font-weight: 700;
	color: #1e1e1e;
	margin-top: 15px;
	transition: all 0.5s;
}
.featured-item:hover h4 {
	color: rgb(100, 99, 184);
}
.featured-item h6 {
	color: rgb(100, 99, 184);
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 0px;
}
.owl-theme .owl-dots {
	text-align: center;
	margin-top: 30px;
}
.owl-theme .owl-dots .owl-dot {
	outline: none;
}
.owl-theme .owl-dots .active span {
	background-color: rgb(100, 99, 184)!important;
}
.owl-theme .owl-dots .owl-dot span {
	background-color: #aaa;
	width: 8px;
	height: 8px;
	display: inline-block;
	margin: 0px 5px;
	outline: none;
}

/* Subscribe Style */
.subscribe-form {
	background-color: rgb(100, 99, 184);
	padding: 80px 0px;
	text-align: center;
}

.subscribe-form .section-heading  {
	margin-top: 0px;
}
.subscribe-form .section-heading h1 {
	color: #fff;
}
.subscribe-form .section-heading .line-dec {
	background-color: #fff;
	margin: 0 auto;
}

.subscribe-form .main-content p {
	font-size: 17px;
	color: #fff;
	margin-bottom: 30px;
}

.subscribe-form .main-content form  {
	color: #fff;
	display: inline;
}
.subscribe-form .main-content form input {
	display: inline;
}
.subscribe-form .main-content form input {
	width: 100%;
	height: 46px;
	border: 1px solid #fff;
	background-color: transparent;
	padding-left: 15px;
	color: #fff;
	outline: none;
}
.subscribe-form .main-content form button:focus {
	color: #fff!important;
}
.subscribe-form .main-content form button {
	width: 100%;
	height: 45px;
	cursor: pointer;
	background-color: #fff;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	display: inline-block;
	color: rgb(100, 99, 184);
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s;
	box-shadow: none;
	border: none;
}

/* Footer Style */
.footer {
	text-align: center;
}
.footer ul {
	padding: 0px;
	margin: 0px;
}
.footer ul li {
	list-style: none;
	display: inline-block;
}
.footer .logo img {
	max-width: 100%;
	margin-top: 60px;
	margin-bottom: 40px;
}
.footer .footer-menu {
	margin-bottom: 40px;
}
.footer .footer-menu ul li {
	margin: 0px 15px;
}
.footer .footer-menu a {
	font-size: 13px;
	color: #7a7a7a;
	text-transform: uppercase;
	transition: all 0.5s;
}
.footer .footer-menu a:hover {
	color: rgb(100, 99, 184);
	text-decoration: none;
}
.footer .social-icons {
	margin-bottom: 60px;
}
.footer .social-icons ul li {
	margin: 0px 10px;
}
.footer .social-icons a {
	width: 32px;
	height: 32px;
	color: #fff;
	background-color: #aaa;
	text-align: center;
	display: inline-block;
	line-height: 33px;
	border-radius: 50%;
	font-size: 13px;
	transition: all 0.5s;
}
.footer .social-icons a:hover {
	background-color: rgb(100, 99, 184);
}

/* Sub Footer Style */
.sub-footer {
	border-top: 1px solid #eee;
	text-align: center;
}
.sub-footer p {
	font-size: 12px;
	color: #7a7a7a;
	line-height: 60px;
}
.sub-footer a {
	color: rgb(100, 99, 184);
	text-decoration: none;
}